* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    /*delimita el borde de la caja*/
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #D4E5F3;
}

/*ul {
    list-style-type: none;
    text-align: end;
}*/

/*li {
    display: inline;
    margin-right: 10px;
}*/

a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
}

.is-font-weight {
    font-weight: bold;
}



.background {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.background-nav {
    background-color: #c9deef6e;
}

/*.background__intro {
    background-image: url(/assets/img/adorable-puppies.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}*/

.background__contact {
    background-image: url(/assets/img/v1051-40b.jpg);
}

.title {
    font-size: 35px;
    padding-left: 30px;
}

/*ESTILOS GENERALES HEADER, NAVBAR, MENÚ*/
.navbar-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    color: #ffffff;
}

.navbar {
    display: flex;
    flex-direction: row;
    /*eje X*/
    justify-content: end;
    /*eje Y*/
    align-items: center;
}

.navbar__list {
    list-style: none;
}

.navbar__list li {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
}

.navbar__list li a {
    color: #ffffff;
}

/*.navbar__list li a:hover {
    background-color: darkblue;
    color: #D4E5F3;
}*/

/*.header-background {
    background-image: url(/assets/img/white-bulldog-puppy.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}*/

.boton-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.boton-container .fa-solid {
    font-size: 2rem;
    color: #ffffff;
}

.boton-container p {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
}

/* ESTILOS DEL MAIN */

.main__title {
    text-align: center;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    height: 600px;
    width: 400px;
    margin: 40px 20px 40px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.tarjeta__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.tarjeta__img {
    width: 300px;
    height: 400px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.tarjeta__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    justify-content: center;
}

.tarjeta__info__precio {
    font-size: 1.2rem;
    margin: 10px;
}

.tarjeta__info__boton {
    margin-bottom: 10px;
    background-color: #91BEB9;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 50px;
}

/*.navbar__link {
    display: inline-block;
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}*/

/*.nav__list {
    list-style: none;
}*/

/*.nav__link {
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}*/

#intro-section {
    background-color: #f3ebeb;
}

#sections {
    background-color: #D4E5F3;
}

.display-2 {
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 400;
}

.display-2-intro {
    font-weight: 700;
}

.display-2-description {
    font-size: 1.4rem;
    padding-bottom: 30px;
    text-align: center;
}

.download__title {
    text-align: center;
    padding-top: 30px;
}

.center-video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
}

.menu {
    display: block;
}

.icon-paw {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/*ESTILOS INTRO*/
.title-intro {
    display: flex;
}

/*ESTILOS PRODUCTS*/
.table-padding {
    padding: 2rem;
}

/*ESTILOS FAQ*/
.faq-section {
    padding: 3rem 10rem 0 10rem;
}

.img-perrito {
    background: url(/assets/img/questionMark-Dog.jpg);
    height: 500px;
    width: 500px;
    background-position: center center;
    background-size: cover;
    position: absolute;
    bottom: 10rem;
    left: 60rem;
    opacity: .3;
}


/*ESTILOS CONTACT*/
.contact-section {
    padding: 0rem 0 3rem 3rem;
}

/*ESTILOS ABOUT US*/
.pilares {
    position: relative;
    left: 30rem;
}

.pilares__size {
    font-size: 1.2rem;
}

.about-section {
    padding: 3rem 6rem 1rem 6rem;
}

.title-pilares {
    padding-left: 6rem;
    padding-top: 3rem;
}



/*ESTILOS DEL FOOTER*/
footer {
    background-color: black;
    color: white;
}

.footer-bottom__copyright {
    text-align: center;
    color: gray;
    font-weight: 400;
}

.title-footer {
    padding: 2rem 0 2rem 0;
}

.social-media {
    padding: 0 0 2rem 0;
}

.social-media-between {
    padding: 0 1rem 0 0;
}


/************GRID AREA**************/

/*DAMOS NOMBRES A LAS ÁREAS*/
.main-head {
    grid-area: header;
}

.main-head__header-background {
    background-image: url(/assets/img/white-bulldog-puppy.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.main-head__background-intro {
    background-image: url(/assets/img/adorable-puppies.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.main-nav {
    grid-area: nav;
}

.card-content {
    grid-area: main;
}


.main-footer {
    grid-area: footer;
}

/*DISEÑO PARA MOVIL*/
.wrapper {
    /*display: flex;*/
    grid-gap: 20px;
    min-height: 100vh;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
}

/*DISEñO PARA PANTALLAS DE MAS DE 480PX*/
@media (min-width: 480px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "main    main"
            "footer  footer";
    }

    .wrapper2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    .header-background {
        background-image: url(/assets/img/white-bulldog-puppy.jpg);
        height: 100vh;
        background-position: center center;
        background-size: cover;
        position: relative;
    }
}

/*DISEñO PARA PANTALLAS DE MAS DE 768PX*/

@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

}