* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*delimita el borde de la caja*/
    font-family: 'Poppins', sans-serif;
}



body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    /*font-family: "Montserrat", sans-serif;*/

}

header {
    background-color: #D4E5F3;
}

a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
}

.is-font-weight {
    font-weight: bold;
}



.background {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    /*background-repeat: no-repeat;
    background-attachment: fixed;*/
    position: relative;
}

.background-nav {
    background-color: #c9deef6e;
}

.background__contact {
    background-image: url(../assets/img/doggy-yellow.jpg);
}

.title {
    font-size: 35px;
    padding-left: 30px;
}

/*ESTILOS GENERALES HEADER, NAVBAR, MENÚ*/

.nav-width {
    width: 100%;
}

.navbar-title {
    display: flex;
    justify-content: space-between;
    /*padding: 20px 20px 0 20px;*/
    color: #ffffff;
}


.boton-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.boton-container .fa-solid {
    font-size: 2rem;
    color: #ffffff;
}

.boton-container p {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
}

/* ESTILOS DEL MAIN */

.main__title {
    text-align: center;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    height: 600px;
    width: 400px;
    margin: 40px 20px 40px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.tarjeta__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.tarjeta__img {
    width: 300px;
    height: 400px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.tarjeta__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    justify-content: center;
}

.tarjeta__info__precio {
    font-size: 1.2rem;
    margin: 10px;
}

.tarjeta__info__boton {
    margin-bottom: 10px;
    background-color: #91BEB9;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 50px;
}

.tarjeta__info__boton:hover {
    background-image: linear-gradient(to bottom, #3a5552, #91BEB9);
}

#intro-section {
    background-color: #f3ebeb;
}

#sections {
    background-color: #D4E5F3;
}

.display-2 {
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 400;
}

.display-2-intro {
    font-weight: 700;
}

.display-2-description {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.download__title {
    text-align: center;
    padding-top: 30px;
}

.center-video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
}

.menu {
    display: block;
}

.icon-paw {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}


/*ESTILOS INTRO*/
.title-intro {
    display: flex;
}

.title-intro:hover {
    transform: rotate(350deg);
}

/*ESTILOS PRODUCTS*/
.table-padding {
    padding: 2rem;
}

@keyframes efecto {
    0% {
        width: 100px;
    }

    10% {
        width: 50px;
    }

    25% {
        width: 300px;
    }

    50% {
        width: 200px;
        background-color: #3a5552;
        color: #ffffff;
    }

    75% {
        width: 300px;
    }

    100% {
        width: 100px;
        background-color: #91BEB9;
    }
}

.transformacion {
    width: 100%;
    height: 100%;
    background-color: #91BEB9;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 10s;
}



/*ESTILOS FAQ*/
.faq-section {
    padding: 3rem 10rem 0 10rem;
}

.img-perrito {
    background: url(../assets/img/questionMark-Dog.jpg);
    height: 500px;
    width: 500px;
    background-position: center center;
    background-size: cover;
    position: absolute;
    bottom: 10rem;
    left: 60rem;
    opacity: .3;
}


/*ESTILOS CONTACT*/


/*ESTILOS ABOUT US*/
.pilares {
    position: relative;
    left: 30rem;
}

.pilares__size {
    font-size: 1.2rem;
}

.about-section {
    padding: 3rem 6rem 1rem 6rem;
}

.title-pilares {
    padding-left: 6rem;
    padding-top: 3rem;
}



/*ESTILOS DEL FOOTER*/
footer {
    background-color: black;
    color: white;
}

.footer-bottom__copyright {
    text-align: center;
    color: gray;
    font-weight: 400;
}

.title-footer {
    padding: 2rem 0 2rem 0;
}

.social-media {
    padding: 0 0 2rem 0;
}

.social-media-between {
    margin: 0 1rem 0 0;
}



.background-intro {
    background-image: url(../assets/img/adorable-puppies.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}




.background-products {
    background-image: url(../assets/img/white-bulldog-puppy.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}


.background-nav {
    background-color: #c9deef6e;
}

.background-contact {
    background-image: url(../assets/img/doggy-yellow.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    /*background-repeat: no-repeat;
    background-attachment: fixed;*/
    position: relative;
}



/*ESTILOS CARRUSEL*/
.mRight {
    margin-right: 160px;
}

.mLeft {
    margin-left: 160px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width:720px) {

    .background-intro {
        background-image: url(../assets/img/adorable-puppies.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;

    }

    .background-products {
        background-image: url(../assets/img/white-bulldog-puppy.jpg);
        height: 100vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
    }

    .background-contact {
        background-image: url(../assets/img/doggy-yellow.jpg);
        height: 100vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
    }

}

@media only screen and (max-width:480px) {
    body {
        height: 100vh;
    }

    .background-intro {
        background-image: url(../assets/img/adorable-puppies.jpg);
        height: 100vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        background-position: 0%;
    }

    .background-products {
        background-image: url(../assets/img/white-bulldog-puppy.jpg);
        height: 100vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        background-position: 0%;
    }

    .background-contact {
        background-image: url(../assets/img/doggy-yellow.jpg);
        height: 100vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        background-position: 0%;
    }


    .hidden {
        display: none;
    }


    .title-footer {
        padding: 2rem;
    }

    /*ESTILOS CARRUSEL*/
    .mRight {
        margin-right: 25px;
    }

    .mLeft {
        margin-left: 25px;
    }

    .boton-container {
        left: 136px;
        top: 224px;
    }

    .title-intro {
        padding-top: 8px;
    }

}

.imgResp {
    height: 250px;
    width: 100%;
    display: block;
}