* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*delimita el borde de la caja*/
  font-family: map-get($font, family);
  font-size: map-get($font, size);
  //outline: 1px solid red;
}



body {

  height: 100vh;


}

header,
.alert {
  z-index: 100;
  //background-color: #D4E5F3;
}

a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}