/*MEDIA QUERIES*/

@media only screen and (max-width:720px) {

  .background {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;

    &__background-intro {
      background-image: url(../assets/img/adorable-puppies.jpg);

    }

    &__background-products {
      background-image: url(../assets/img/white-bulldog-puppy.jpg);
    }

    &__background-contact {
      background-image: url(../assets/img/doggy-yellow.jpg);
    }

  }


}


@media only screen and (max-width:480px) {
  body {
    height: 100vh;
  }

  .background {
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-position: 0%;

    &__background-intro {
      background-image: url(../assets/img/adorable-puppies.jpg);
    }

    &__background-products {
      background-image: url(../assets/img/white-bulldog-puppy.jpg);
    }

    &__background-contact {
      background-image: url(../assets/img/doggy-yellow.jpg);
    }

  }


  .hidden {
    display: none;
  }

  .title-footer {
    padding: 2rem;
  }

  /*ESTILOS CARRUSEL*/
  .mRight {
    margin-right: 25px;
  }

  .mLeft {
    margin-left: 25px;
  }

  .boton-container {
    left: 136px;
    top: 224px;
  }

  .title-intro {
    padding-top: 8px;
  }

}


.title-intro:hover {
  transform: rotate(350deg);
}

@keyframes efecto {
  0% {
    width: 100px;
  }

  10% {
    width: 50px;
  }

  25% {
    width: 300px;
  }

  50% {
    width: 200px;
    background-color: #3a5552;
    color: #ffffff;
  }

  75% {
    width: 300px;
  }

  100% {
    width: 100px;
    background-color: #91BEB9;
  }
}

.transformacion {
  width: 100%;
  height: 100%;
  background-color: #91BEB9;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 10s;
}