.background {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;


    @include smartphoneSec {

        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 0%;
        width: 100%;
        height: 300px;

    }

    @include smartphone {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
        background-position: 0%;
    }


    &__background-intro {
        background-image: url(../assets/img/adorable-puppies.jpg);

        @include smartphoneSec {
            background-image: url(../assets/img/adorable-puppies.jpg);
        }

        @include smartphone {
            background-image: url(../assets/img/adorable-puppies.jpg);
        }
    }

    &__background-products {
        background-image: url(../assets/img/white-bulldog-puppy.jpg);

        @include smartphoneSec {
            background-image: url(../assets/img/white-bulldog-puppy.jpg);
        }

        @include smartphone {
            background-image: url(../assets/img/white-bulldog-puppy.jpg);
        }
    }

    &__background-contact {
        background-image: url(../assets/img/doggy-yellow.jpg);

        @include smartphoneSec {
            background-image: url(../assets/img/doggy-yellow.jpg);
        }

        @include smartphone {
            background-image: url(../assets/img/doggy-yellow.jpg);
        }
    }




    &__navbar-title {
        display: flex;
        justify-content: space-between;
        /*padding: 20px 20px 0 20px;*/
        color: #ffffff;

        &--black {
            color: #000000;
        }
    }


    &__boton-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        @include smartphone {
            left: 136px;
            top: 224px;
        }

        &--text {
            font-size: 1.5rem;
            color: #ffffff;
            font-weight: bold;

            @include smartphone {
                font-size: 1rem;
            }

        }

    }

}

.background-aboutus {
    @extend.background;
    background-image: url(../assets/img/allofus.jpg);

    @include smartphoneSec {
        background-image: url(../assets/img/allofus.jpg);
    }

    @include smartphone {
        background-image: url(../assets/img/allofus.jpg);
    }
}

.background-faq {
    @extend.background;
    background-image: url(../assets/img/perrito-confundido-signos-interrogacion.jpg);

    @include smartphoneSec {
        background-image: url(../assets/img/perrito-confundido-signos-interrogacion.jpg);
    }

    @include smartphone {
        background-image: url(../assets/img/perrito-confundido-signos-interrogacion.jpg);
    }
}